<main class="p-5">
    <h2>Hello, <%= user.loggeduser %>.</h2>
    <div class="px-2 py-3">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae repellat voluptate temporibus laudantium neque asperiores veniam unde tenetur nam nobis? Repudiandae rem quas quia expedita ratione quibusdam ipsa ducimus dolores?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos modi provident nobis! Iste rem repellat natus consequatur similique, rerum in, qui dolorum culpa dignissimos sint voluptas tenetur autem minus saepe.</p>
        <p>Accusamus vero exercitationem eius incidunt iste aliquid distinctio accusantium laborum quos repudiandae labore nam rerum praesentium, quaerat maxime debitis! Dicta qui possimus et aut consequatur unde beatae nam. Praesentium, minima!</p>
        <p>Dolore aliquid ex laborum rerum, maxime facere sint explicabo temporibus numquam a quo animi! Nisi dolor sunt doloribus repudiandae repellat rem. At doloribus dolorum animi magnam et distinctio harum ut!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum quae, accusamus explicabo molestias ea placeat laudantium consectetur sunt et repellat beatae corrupti eum voluptatum possimus illum esse ullam labore exercitationem!</p>
        <p>Nemo quasi cupiditate cum qui placeat, unde aliquam nisi aliquid alias officiis minima consequatur quas recusandae nam, minus explicabo reiciendis. Unde reiciendis porro omnis illo commodi molestiae inventore quam voluptate?</p>
        <p>Quaerat amet expedita est iure non vero? Ducimus vitae aperiam excepturi possimus quam at impedit culpa! Eius inventore iusto sint corrupti atque natus quidem ipsam dolore error. Doloremque, facere aut.</p>
        <p>Exercitationem a reprehenderit molestias, itaque quasi quisquam quis corrupti at pariatur. Exercitationem excepturi assumenda, animi accusantium error repellendus rem sapiente expedita suscipit voluptates, quia quo ad cumque mollitia consectetur quod.</p>
        <p>Numquam facilis, sequi quisquam vero quo mollitia eveniet, enim, earum sed eaque pariatur voluptatem labore maiores consequatur nobis officia cum cupiditate! Aspernatur laudantium nemo, aliquid eaque minima aperiam error unde!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, eveniet mollitia praesentium porro optio ipsa laudantium necessitatibus perferendis soluta laborum magnam! Sapiente est quia voluptates pariatur odit magni saepe? Accusantium.</p>
    </div>
</main>