

<footer class="bg-secondary text-light text-center py-2 w-100">
    <h6><%= data.company %> </h6>
    <p class="py-0 my-0"><%= data.author %> </p>
</footer>
<% let datas = [] 
   records.forEach(element => {
       datas.push({x:element.date, y:element.stepcount})
   });
%>
</div>
<script>

    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        themeSystem: 'bootstrap5',
        headerToolbar: {
            start: 'today prev,next', // will normally be on the left. if RTL, will be on the right
            center: 'title',
            end: 'dayGridMonth timeGridWeek listMonth' // will normally be on the right. if RTL, will be on the left
        },
        events: [
        <% for (let i = 0; i < datas.length; i++){ %>
                <%- `{title: '${datas[i].y} steps', start:${"\"" + (datas[i].x.toISOString().split('T')[0]+ "\"")}, backgroundColor:'#0d6efd'},`  %>
            <% } %>
        ]
      });
      calendar.render();
    });

  </script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/main.min.js"></script>
</body>
</html>