


<footer class="bg-secondary text-light text-center py-2 w-100">
    <h6><%= data.company %> </h6>
    <p class="py-0 my-0"><%= data.author %> </p>
</footer>
</div>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>