<form class="my-5 m-auto w-75" action="/users/login">
    <h3 class="mb-3">Jelentkezzen be!</h3>
    <div class="mb-3">
        <label for="email" class="form-label">Email cím</label>
        <input type="email" name="" class="form-control">
    </div>
    <div class="mb-3">
        <label for="passwd" class="form-label">Jelszó</label>
        <input type="password" name="passwd" class="form-control">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" name="remember">
        <label for="remember" class="form-check-label">Emlékezz rám</label>
    </div>
    <input type="submit" class="btn btn-outline-success" value="Bejelentkezés">
    <a href="/reg" class="btn btn-outline-primary">Regisztráció</a>
</form>