<main class="p-3">
    <% include ('../partials/errors') %> 
    <h3><%= user.loggeduser%>'s profile</h3>
    <form action="/users/mod-user" method="post" class="p-3 w-100">
        <div class="mb-3 col-lg-6 col-md-12">
            <label for="name" class="form-label">Your username:</label>
            <input type="text" class="form-control" value="<%= user.loggeduser %>" name="name">
        </div>
        <div class="mb-3 col-lg-6 col-md-12">
            <label for="name" class="form-label">Your email:</label>
            <input type="email" class="form-control" value="<%= user.loggedemail %>" name="email">
        </div>
        <input type="submit" class="btn btn-success" value="Modify">
    </form>
</main>