<nav>
  <li> <a href=""><i class="bi bi-plus">Add steps</i></a></li>
  <li> <a href=""><i class="bi bi-table">Table view</i></a></li>
  <li> <a href=""><i class="bi bi-graph-up">Chart</i></a></li>
  <li> <a href=""><i class="bi bi-calendar">Calendar</i></a></li>
  <li> <a href=""><i class="bi bi-pen">Change Password</i></a></li>
  <li> <a href="/users/logout"><i class="bi bi-door-closed">Log out</i></a></li>
</nav>