<nav class="bg-dark">
  <li class="nohover"><i class="bi bi-person"> <%= user.loggeduser %></i></li>
  <li class="add"><a href="/newdata"><i class="bi bi-plus-lg"> Add steps</i></a></li>
  <li><a href="/table"><i class="bi bi-table"> Table view</i></a></li>
  <li><a href="/chart"><i class="bi bi-graph-up"> Chart</i></a></li>
  <li><a href="/calendar"><i class="bi bi-calendar"> Calendar</i></a></li>
  <li class="changepasswd"> <a href="/users/passmod"><i class="bi bi-pen"> Change Password</i></a></li>
  <li class="logout"> <a href="/users/logout"><i class="bi bi-door-closed">Log out</i></a></li>
</nav>