<form action="">

    <div class="mb-3">
        <label for="oldP">Old password:</label>
        <input type="password" name="oldP">
    </div>
    <div class="mb-3">
        <label for="new" class="form-label">New password:</label>
        <input type="password" name="new" class="form-control">
    </div>
    <div class="mb-3">
        <label for="new2" class="form-label">New password again:</label>
        <input type="password" name="new2" class="form-control">
    </div>

</form>