body, html{
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;   
}
.flex{
    display:flex;
    flex-flow:row wrap;
}
nav{
    display:flex;
    float:left;
    flex-flow:column wrap;
    font-size: 1.5rem;
    width: 25%;
    min-height: 100%;
}
main{
    width: 75%;
    min-height: 100%;
    float:right;
}
li{
    color:white;
}

nav>li>a{
    color:white;
    text-decoration: none;
    transition:color 0.1s;
}
nav>li:hover>a{
    color:black;
}
nav>li{
    padding-bottom:0.75rem;
    padding-top: 0.75rem;
    padding-left:0.4rem;
    transition:background-color 0.1s;
}
.nohover:hover{background-color: var(--bs-dark);}
nav>li:hover{background-color: var(--bs-primary);}
.logout:hover{background-color:var(--bs-danger);}
.add:hover{background-color: var(--bs-success);}
.changepasswd:hover{background-color: var(--bs-warning);}
@media screen and (max-width:728px) {
    nav{
        width: 40%;
    }
}
@media screen and (max-width:480px) {
    nav{
        width: 100%;
    }
}