body{
    width: 100%;
    padding: 0;
    margin: 0;
    
}



nav{
    display:flex;
    float:left;
    flex-flow:column wrap;
    font-size: 1.5rem;
    width: 25%;
}
main{
    width: 75%;
    float:right;
}
nav>li>a{
    color:white;
    text-decoration: none;
    transition:color 0.2s;
}
nav>li:hover{
    background-color: white;
}
nav>li:hover>a{
    color:black;
}
nav>li{
    padding-bottom:0.75rem;
    padding-left:0.4rem;
    background-color: rgb(143, 143, 143);
    transition:background-color 0.2s;
}